
<h1 style="text-align: center;color: whitesmoke;font-family: fantasy;">Our Team</h1>
<hr style="color: whitesmoke;">
    <div style="text-align: center; padding: 0% 5% 5% 5%; font-family:verdana;color: whitesmoke;">
        We are a bunch of a visionaries, young and passionate developers constantly working on this project to spread
        happiness amongst the people by providing them a platform where they can share their memories in best possible
        way. Each and every member of
        our team contributed by investing their time, hard-work and dedication to create this one of the best wholesome
        platform for sharing amazing photographs in this amazing community. All the members of our team is very much
        efficient to identify
        the problem and give the solution in the best possible way. Our team is very much aware about the actual
        scenario going on in the field of technological advancement. So we are trying our best to cater best facilities
        to users and give them the
        best experience. We as a team ensures user satisfaction upto the best level in the ever expanding universe of
        social media.
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="../../public/akhil.jpeg" alt="Jane" style="width:73%">
                <div class="container">
                    <h2>Manan </h2>
                    <p class="title">POC &amp; Front-End Developer</p>
                    <p>mamnan@cybage.com</p>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="../../public/akshat.jpeg" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Akshat Sawerkar</h2>
                    <p class="title">Front-End Developer</p>
                    <p>akshats@cybage.com</p>

                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../../public/akshata.jpeg" alt="John" style="width:42%">
                <div class="container">
                    <h2>Akshata Sontakke</h2>
                    <p class="title">Front-End Developer</p>
                    <p>akshataso@cybage.com</p>

                </div>
            </div>
        </div>
       
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="../../public/amruta.jpeg" alt="Jane" style="width:72%">
                <div class="container">
                    <h2>Abhishek</h2>
                    <p class="title">Front-End Developer</p>
                    <p>abhishek@cybage.com</p>

                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../../public/ameya.jpeg" alt="John" style="width:101%">
                <div class="container">
                    <h2>Suraj Sara</h2>
                    <p class="title">Front-End Developer</p>
                    <p>surajsa@cybage.com</p>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="../../public/akshay.jpeg" alt="Mike" style="width: 63%">
                <div class="container">
                    <h2>Keval  Jain</h2>
                    <p class="title">Front-End Developer</p>
                    <p>kevalja@cybage.com</p>

                </div>
            </div>
        </div>

       
    </div>
