<mat-card class="example-form">
    <h2>Change password</h2>
    <mat-divider></mat-divider>
<form [formGroup] = "changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)" class="example-card" >

    <mat-form-field class="example-full-width">
        <mat-label>Username </mat-label>
        <input matInput type="text" id="userName" name="userName" formControlName="userName" class="form-control">
       </mat-form-field>
        <div class="error"  class="text-danger" *ngIf="changePasswordForm.controls['userName'].hasError('required') && changePasswordForm.controls['userName'].touched">User Name is required</div>
  

        <mat-form-field class="example-full-width">
            <!-- <mat-label>Password : </mat-label> --> 
            <input  matInput [type]="hide ? 'password' : 'text'" placeholder="Old password" id="password" name="password" formControlName="password" class="form-control">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
             <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
           </button>
          </mat-form-field>
        <div class="error"  class="text-danger" *ngIf="changePasswordForm.controls['password'].hasError('required') && changePasswordForm.controls['password'].touched">Password is required</div>
 

        <mat-form-field class="example-full-width">
            <!-- <mat-label>Password : </mat-label> --> 
            <input  matInput [type]="hide ? 'password' : 'text'" placeholder="New password" id="password" name="password" formControlName="password" class="form-control">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
             <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
           </button>
          </mat-form-field>
        <div class="error"  class="text-danger" *ngIf="changePasswordForm.controls['newPassword'].hasError('required') && changePasswordForm.controls['newPassword'].touched">New Password is required</div>
  

      <div *ngIf="userNotFound != ''">
            <h2 style="color: red;">{{userNotFound}}</h2>
      </div>

      <mat-card-content>
        <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
      </mat-card-content>
     
</form>
</mat-card>