<section id="contact-section">
    <div class="container">
        <h2>Contact Us</h2>
        <p>Email us and keep upto date with our latest news</p>
        <div class="contact-form">
            <div>
                <i class="fa fa-map-marker"></i><span class="form-info">1234 Kalyani Nagar, Pune</span><br><br>
                <i class="fa fa-phone"></i><span class="form-info">Phone no +1245678</span><br>
                <i class="fa fa-envelope"></i><span class="form-info">photo@gmail.com</span>
            </div>
            <div>
                <form>
                    <input type="text" placeholder="Your Name" required>
                    <input type="text" placeholder="Last Name" required>
                    <input type="email" placeholder="Email" required>
                    <input type="text" placeholder="Subject of this message" required>
                    <textarea name="message" placeholder="Message" rows="5" required></textarea>
                    <button class="submit">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>