


<mat-sidenav-content>
<footer class="bg-dark text-center text-white">
  
    <div class="container p-4">
   
      <section class="mb-4">
      
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
       
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
      
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
       
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
       
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
      
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      
  
   
      <section class="">
        <form action="">
         
          <div class="row d-flex justify-content-center">
           
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
           
            <div class="col-md-5 col-12">
        
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
                <label class="form-label" for="form5Example21">Email address</label>
              </div>
            </div>
          
  
            <div class="col-auto">
         
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
          
          </div>
         
        </form>
      </section>
      
      <section class="mb-4">
        <p>
            help you through this struggle you need a little inspiration. Sometimes it can come from someone cheering you on. Sometimes it comes from a Trainer or a Group SportClub Instructor. Sometimes it comes from somewhere deep inside.
        </p>
      </section>
    
      <section class="" style="padding-left: 25%;">
      
        <div class="row">
         
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact us</h5>
             2nd floor, Kalyani Nagar,pune<br/>
             Maharashtra 400099
             <br>
             <br>
             info@DeccanSportClub.com
             <br>
             022-8765445453
            
          </div>
          
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Help & Support</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">FAQs</a>
              </li>
              <li>
                <a href="#!" class="text-white">Privacy Policy</a>
              </li>
              <li>
                <a href="#!" class="text-white">Terms & Conditions</a>
              </li>
              <li>
                <a href="#!" class="text-white">Reach us</a>
              </li>
            </ul>
          </div>
         
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">About Us</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">About DeccanSportClub</a>
              </li>
              <li>
                <a href="#!" class="text-white">Careers</a>
              </li>
              <li>
                <a href="#!" class="text-white">Partnership</a>
              </li>
              <li>
                <a href="#!" class="text-white">Press and Media</a>
              </li>
            </ul>
          </div>
          
        </div>
    
      </section>
   
    </div>
   
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://DeccanSportClub.com/">DeccanSportClub.com</a>
    </div>
  
  </footer>
</mat-sidenav-content>

 