<!-- 
    <mat-card class="example-form">
        <h2>Forgot  password</h2>
    <mat-divider></mat-divider>
<div *ngIf="showLoginForm != '' " >
    
<form [formGroup] = "forgotPasswordForm" (ngSubmit)="forgotPassword(forgotPasswordForm)" class="example-form">
    <mat-form-field class="example-full-width">
        <br>
         <mat-label>Username </mat-label>
        <input matInput type="text" id="userName" name="userName" formControlName="userName" class="form-control">
    </mat-form-field>
        <div class="error"  class="text-danger" *ngIf="forgotPasswordForm.controls['userName'].hasError('required') && forgotPasswordForm.controls['userName'].touched">Username is required</div>
    

      <div *ngIf="userNotFound != ''">
            <h2 style="color: red;">{{userNotFound}}</h2>
      </div>

      <mat-card-content>
        <mat-card-actions>

    <button class="btn btn-success" type="submit">Submit</button>
</mat-card-actions>
</mat-card-content>
</form>
</div>
</mat-card>

<mat-card class="example-form">
    <h2>Forgot password</h2>
    <mat-divider></mat-divider>
<div *ngIf="showOtpArea != '' ">
    <h3>Hey {{user.userName}} You have to activate your account first
        We sent OTP to your registered email Id {{user.email}}</h3>

        <form [formGroup] = "otpForm" (ngSubmit)="otp(otpForm)" class="example-form">
            <mat-form-field class="example-full-width">
             
                 <mat-label>Otp </mat-label>
                <input matInput type="text" id="otp" name="otp" formControlName="otp" class="form-control">
                </mat-form-field>
                <div class="error"  class="text-danger" *ngIf="otpForm.controls['otp'].hasError('required') && otpForm.controls['otp'].touched">OTP is required</div>
          
                <mat-card-content>
                    <mat-card-actions>
            
                <button class="btn btn-success" type="submit">Submit</button>
            </mat-card-actions>
            </mat-card-content>
        </form>
 

    <div *ngIf="invalidOtp != ''">
        <h2 style="color: red;">{{invalidOtp}}</h2>
      </div>
    </div>
    </mat-card> -->
    
    <mat-card class="example-form">
        <h2>Forgot password</h2>
        <mat-divider></mat-divider>
<div *ngIf="showPasswordForm != '' " >
    <form [formGroup] = "updatePasswordForm" (ngSubmit)="updatePassword(updatePasswordForm)" class="example-form">
    
        <mat-form-field class="example-full-width">
             
            <mat-label>New password </mat-label>
            <input matInput type="text" id="password" name="password" formControlName="password" class="form-control">
        </mat-form-field>
            <div class="error"  class="text-danger" *ngIf="updatePasswordForm.controls['password'].hasError('required') && updatePasswordForm.controls['password'].touched">New Password is required</div>
      
    
            <mat-card-content>
                <mat-card-actions>
        
            <button class="btn btn-success" type="submit">Submit</button>
        </mat-card-actions>
        </mat-card-content>
    </form>
    </div>
</mat-card>