
<div class="content" >
    <div fxLayout="row wrap">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"  id="flex">
            <mat-card class="card text-black  mb-3"   >
                <mat-card-header class="card text-black">
                    <mat-card-title   style="font-family:fantasy">
                   MONTHLY
                    </mat-card-title>
                </mat-card-header>
                <br/>
                <!--<img mat-card-image [src]="sport.image"> -->
                <mat-card-content>
                    <h3 >Sports Category  :</h3>
                   <h3> Members Charge : </h3>
                    <h3>Non Members Charge :</h3>
                    <h3>Managed By : </h3>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button  color="primary">Apply</button>
                    
                     <button mat-raised-button  color="accent">Renew</button>
                        </mat-card-actions>
            </mat-card>

            <mat-card class="card text-black  mb-3"  >
                <mat-card-header class="card text-black">
                    <mat-card-title   style="font-family:fantasy">
                   QUARTERLY
                    </mat-card-title>
                </mat-card-header>
                <br/>
                <!--<img mat-card-image [src]="sport.image"> -->
                <mat-card-content>
                    <h3 >Sports Category  :</h3>
                   <h3> Members Charge : </h3>
                    <h3>Non Members Charge :</h3>
                    <h3>Managed By : </h3>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button  color="primary">Apply</button>
                    
                     <button mat-raised-button  color="accent">Renew</button>
                        </mat-card-actions>
            </mat-card>
           <mat-card class="card text-black  mb-3"  >
                <mat-card-header class="card text-black">
                    <mat-card-title   style="font-family:fantasy">
                           YEARLY
                    </mat-card-title>
                </mat-card-header>
                <br/>
                <!--<img mat-card-image [src]="sport.image"> -->
                <mat-card-content>
                    <h3 >Sports Category  :</h3>
                   <h3> Members Charge : </h3>
                    <h3>Non Members Charge :</h3>
                    <h3>Managed By : </h3>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button  color="primary">Apply</button>
                    
                     <button mat-raised-button  color="accent">Renew</button>
                        </mat-card-actions>
            </mat-card>
        </div>
     </div>
  </div>