mat-card{
    margin-top: 25vh;
}
mat-card-title{
    margin-top: 7px;
    margin-left: 100px;
}
button{
    margin-left: 80px;
}
mat-card-actions{
    margin-left: 60px;
}
h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
mat-card-content{
    margin-left: 20px;
}