
<div class="content" >
    <div fxLayout="row wrap">
        <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%"  id="flex" *ngFor="let member of membership">
            <mat-card class="card text-black  ml-5"   >
                <mat-card-header class="card text-black">
                    <mat-card-title   style="font-family:fantasy">
                    {{member.name}}
                    </mat-card-title>
                </mat-card-header>
                <br/>
                <!--<img mat-card-image [src]="sport.image"> -->
                <mat-card-content>
                <h3> Description : {{member.description}}</h3>
               
                    <h3>Amount : {{member.price}}</h3>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button  color="primary">Apply</button>
                    
                     <button mat-raised-button  color="accent">Renew</button>
                        </mat-card-actions>
            </mat-card>

           
        </div>
     </div>
  </div>