
mat-card{
    background-color: rgb(214, 247, 252);
    width: 30%;
    height: 550px;
    margin-left: 35%;
    margin-top: 3%;
}
mat-divider{
  background-color: rgb(49, 37, 37);
 height: 3px;
}
.example-form {
    min-width: 50px;
    max-width: 100px
  
  }
  
  .example-full-width {
    width: 100%
  }
  h1{
    margin-left:120px;
    margin-right: 120px;
    font-family:fantasy;
    // font-size: 20px;
    
  }
  body{
    //  background-color: rgb(250, 192, 202);
     //  background-color: rgb(250, 192, 202);
     background-color: #432a6d;
 }