<p>forgot-password works!</p>
<div *ngIf="showLoginForm != '' ">
<form [formGroup] = "forgotPasswordForm" (ngSubmit)="forgotPassword(forgotPasswordForm)">

    <div class="form-group">
        <label>User Name : </label>
        <input type="text" id="userName" name="userName" formControlName="userName" class="form-control">
        <div class="error"  class="text-danger" *ngIf="forgotPasswordForm.controls['userName'].hasError('required') && forgotPasswordForm.controls['userName'].touched">User is required</div>
    </div>

      <div *ngIf="userNotFound != ''">
            <h2 style="color: red;">{{userNotFound}}</h2>
      </div>

      <button class="btn btn-success" type="submit">Submit</button>
</form>
</div>


<div *ngIf="showOtpArea != '' ">
    <h2>Hey {{user.userName}} You have to activate your account first
        We sent OTP to your registered email Id {{user.email}}

        <form [formGroup] = "otpForm" (ngSubmit)="otp(otpForm)">
            <div class="form-group">
                <label>OTP : </label>
                <input type="text" id="otp" name="otp" formControlName="otp" class="form-control">
                <div class="error"  class="text-danger" *ngIf="otpForm.controls['otp'].hasError('required') && otpForm.controls['otp'].touched">OTP is required</div>
            </div>

            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </h2>

    <div *ngIf="invalidOtp != ''">
        <h2 style="color: red;">{{invalidOtp}}</h2>
      </div>
</div>

<div *ngIf="showPasswordForm != '' ">
    <form [formGroup] = "updatePasswordForm" (ngSubmit)="updatePassword(updatePasswordForm)">
    
        <div class="form-group">
            <label>New Password : </label>
            <input type="text" id="password" name="password" formControlName="password" class="form-control">
            <div class="error"  class="text-danger" *ngIf="updatePasswordForm.controls['password'].hasError('required') && updatePasswordForm.controls['password'].touched">New Password is required</div>
        </div>
    
          <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>