
mat-card{
    background-color: rgb(186, 240, 247);
    width: 30%;
    height: 500px;
    margin-left: 35%;
    margin-top: 3%;
}

.example-form {
    min-width: 50px;
    max-width: 100px
  
  }
  
  .example-full-width {
    width: 100%
  }
  h2{
    margin-left: 90px;
    margin-right: 120px;
  
   
  }